.auth {
    display: grid;
    grid-template-columns: 2fr  1fr 2fr 1fr 2fr ;
    grid-template-rows: 1fr 1fr  1fr 1fr 1fr 2fr;
    justify-items: center;
    align-items: center;
   
}

.auth-heading{
    grid-row: 2/4;
    grid-column: 2/5;
}

.auth-input{
    grid-row: 4/5;
    grid-column: 3/4;
}

.auth-error{
    grid-row: 4/5;
    grid-column: 3/4;
}

.auth-button{
    grid-row: 5/6;
    grid-column: 3/4;
}