body, html {
  margin: 0;
}

.auth-heading {
  text-align: center;
}

.auth-error {
  position: relative;
  margin: 0;
  top: 35%;
}

.auth {
  height: 100vh; /* volle Höhe des Viewports */
  width: 100vw; /* volle Breite des Viewports */
}


