body, html {
  margin: 0;
}

.game-container {
  height: 100vh; /* volle Höhe des Viewports */
  width: 100vw; /* volle Breite des Viewports */
}

.Game-question-area-player-name{
  text-align: center;
}

.Game-question-area-input-div {
  display: flex;
  justify-content: center; /* Zentriert horizontal */
}

.Game-question-area-player-answer{
  text-align: center;
}

.Game-question-area-correct-answer{
  text-align: center;
}

.Game-heads-up-display{
  width: 100%;
  height: 100%
}
.Game-heads-up-display-time{
  position:relative;
  left: 615px;

  display: inline-block;
  width: 100px;

}
.Game-heads-up-display-rounds{
  position:relative;
  left: 1150px;
  display: inline-block;
  width: 100px;

}

.Game-player-list{
  width: 100%;
  height: 100%

}

.Game-heads-up-display-valume{
  position:relative;
  right: 240px;

  display: inline-block;

}

.Game-player-list-player{
  display: flex;
border: 1px solid grey;
width: 260px;
height: 55px;
}

/* CSS für Game-Komponente */
/* Hier anpassen und in eine separate CSS-Datei speichern */

/* Stile für Infoleiste */
/*

.Game-heads-up-valume{
  width: 10000px;
  height: 100px

}

.InfoLeiste {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px;
  }
  
  .InfoLeiste h1 {
    margin: 0;
  }
  
  .Players {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f8f8f8;
    padding: 10px;
    width: 200px; 
  }
  
  .Players div {
    margin-bottom: 10px;
  }
  
  .Players h2 {
    margin: 0;
    font-size: 16px;
  }
  
  .Players span {
    padding: 2px 5px;
  }
  
  .Players span,
  .Players h2 {
    display: inline-block;
  }
  
  .Players span:first-child {
    margin-right: 5px;
  }
  
  .Players span:last-child {
    font-size: 24px;
  }
  
  .game {
    margin-top: 20vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh; 
  }
  
  .game h1 {
    font-size: 24px;
    text-align: center;
  }
  
  .game input {
    margin-top: 10px;
  }
  
  .game button {
    margin-top: 10px;
  }
    */
  